.App {
  text-align: center;
}

.game-objects {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
}

.empty-div {
  width: 300px;
}

h1 {
  font-family: 'Creepster', cursive;
  font-size: 4em;
  margin-bottom: 0;
  color: firebrick;
  margin-top: 0;
}

.game-title {
  padding-top: 0.25em;
}

@media only screen and (max-width: 600px) {
  .app {
    width: 100%;
    height: 100%;
  }

  .game-objects {
    flex-direction: column;
    /* align-items:  */
  }

  .empty-div {
    display: none;
  }

  h1 {
    font-size: 2.25em;
  }
}
